* {
  margin: 0;
  padding: 0;
  background-color: lightcyan;
  color: black;
  text-decoration: none;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 25px;
}
.left-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
  float: left;
  margin-left: -80%;
}
.right-items {
  display: flex;
  justify-content: space-around;
  float: right;
  gap: 16px;
}
.btn {
  background-color: darkblue;
  color: white;
  border-radius: 50px;
  height: 6vh;
  width: 15vh;
  font-weight: bold;
  animation-name: btn;
}
.btn:hover {
  background-color: lightblue;
  color: black;
  cursor: pointer;
}
.dashboard {
  text-decoration: underline;
  font-weight: bold;
}
.list-links:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .left-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-content: center;
    margin-left: 10px;
  }
}
